body {
  background: #1ca8ff;
  margin-bottom: 50px;
}

.hide-overflow {
  overflow: hidden;
}

.homepage-logo {
  font-size: 4em;
  color: #FFFFFF;
  font-family:'fatfrank', sans-serif;
  margin-bottom: 1.5em
}

.feed-logo {
  font-size: 4em; 
  font-family:'fatfrank', sans-serif;
  color: #FFFFFF;
  padding-left: 102px;
  background: url('../assets/icon.png') no-repeat left center;
  background-size: contain;
}

address {
  margin-bottom: 10px;
}

.logo-link {
  text-decoration: none !important;
}

.dropdown {
  float: right;
  margin-top: 2em;
}

.navbar-bottom {
  /*stuff*/
  /*padding: 20px;*/
}

#footer-text {
  font-weight: 400;
  font-size: 0.95em;
}

#footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
}

.menu-dropdown {
  cursor: pointer;
  font-size: 2em;
  color: #1ca8ff;
  background: #FFFFFF;
  padding: .3em;
  border-radius: 3px;
}
@media (max-width: 768px) {
  .feed-logo {
    font-size: 2em;
    padding-left: 38px;
  }

  .dropdown {
    margin-top: 1.5em;
  }

  .menu-dropdown {
    font-size: 1.5em;
  }
}

.icon-homepage {
  width: 97px;
  height: 97px;
  background: url('../assets/icon.png') no-repeat;
  background-size:contain;
  margin: auto;
}

.link-container {
  width: 100%;
  text-align: center;
  margin-top: 8em;
}

.github-link {
  display: inline-block;
  cursor: pointer;
}

.github-link .github-link-container {
  display: inline-block;
  width: 12em;
  margin: 0;
  padding-left: 2em;
  background: #FFFFFF;
  color: #1ca8ff;
  font-size: 2em;
  background-image: url('../assets/GitHubIcon.png');
  background-size: 1.7em;
  background-position: left center;
  background-repeat: no-repeat;
  border-left: .2em solid #FFFFFF;
}

.github-link:hover .github-link-container {
  background: #1ca8ff;
  background-image: url('../assets/GitHubIcon_hover.png');
  background-size: 1.7em;
  background-position: left center;
  background-repeat: no-repeat;
  border-left: .2em solid #1ca8ff;
  color: #FFFFFF;
}

.github-link .github-text {
  width: 10em;
  display: inline-block;
  border-left: .1em solid #1ca8ff;
  padding: 10px 0 10px 10px;
  height: 100%;
}

.github-link:hover .github-text {
  border-left: .1em solid #FFFFFF;
}

/* Feed Styling */
.feed-filter {
  margin: 2em 0 2em 0;
}

.feed-filter .control-label {
  color: #FFFFFF;
  font-size: 2em;
}

.sort-container {
  line-height: 3em;
}

.thumbnail {
  height: 250px;
}

.caption {
  overflow: hidden;
}

.caption .row {
  margin: 0;
}

.category-holder {
  height: 40px;
  margin: 10px 0 10px 0!important;
  overflow: hidden;
}

.caption .thumbnail-title {
  font-weight: 800;
  text-align: left;
  height: 100%;
  line-height: 100%;
}


.caption .btn {
  float: right;
}

.existing-thumb {
  background: #5cb85c;
  border-color: #4cae4c;
}

.existing-thumb .caption {
  color: #FFFFFF;
}