<div class="container">
  <div ng-include="'app/partials/nav.html'"></div>

  <div class="row feed-filter">
    <div class="col-md-1 text-hide">&nbsp;</div>
    <label class="control-label col-md-1">Filter:</label>
    <div class="col-md-4">
      <input type="text" class="form-control" ng-model="feedFilter" placeholder="Filter by" autofocus>
    </div>

      <label class="control-label col-md-1">Sort:</label>
      <div class="col-md-4 sort-container">
        <select ng-model="feedOrder">
          <option value="-likes">Liked: Most Popular to Least</option>
          <option value="likes">Liked: Least Popular to Most</option>
        </select>
      </div>
  </div>

 <div class="distance message">
   <div class="alert alert-warning" role="alert">
     All results are within a 2 mile radius of Hack Reactor - <strong>944 Market St. San Francisco, CA 94012</strong>
   </div>
 </div>

  <!--Add Dashboard Items-->
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-md-3" ng-repeat="restaurant in data.restaurants | filter:feedFilter | orderBy: feedOrder">
      <div class="thumbnail">
          <img ng-src="{{restaurant.restaurant.image_url}}" alt="{{restaurant.restaurant.name}}" class="img-rounded">
          <div class="caption">
            <span class="thumbnail-title">{{restaurant.restaurant.name}}</span>
            <a class="btn btn-default" role="button" ng-class="{'btn-primary' : data.likes[restaurant._id]}" ng-click="updateLikes(restaurant._id)">
            <span class="glyphicon glyphicon-thumbs-up"></span> {{restaurant.restaurant.likes}} </a>
            <a href="#" class="btn btn-default" role="button">
            <span class="glyphicon glyphicon-tag" ng-hide="{{restaurant.restaurant.categories[0]}}"></span> {{category}}</a>
          </div>
      </div>
    </div>
  </div>


</div>